<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet"> 
        <title><%= title%></title>
        <style>
            body{
                margin:0px;
                font-family: 'Balsamiq Sans', cursive;
            }
            nav{
                background-color: blue;
                padding:20px;
            }
            li{
                display: inline;
                padding:18px;
                list-style: none;
                color:white;
                font-size: 20px;
                cursor: pointer;
            }
            a{
                text-decoration: none;
            }
            li:hover{
                color:rgb(139, 0, 0);
            }
            th{
                padding-left:60px;
                font-size: 20px;
                color:darkolivegreen;
            }
            td{
                padding-left: 55px;
                font-size: 15px;
            }
            .btn{
                color:white;
                background-color: blue;
                padding:10px;
                font-size: 16px;
                border:none;
                border-radius: 5px;
                cursor:pointer;
                margin:3px;
            }
            .container .btn:hover {
                background-color: rgb(0, 0, 0);
                color: white;
            }
            a{
                text-decoration: none;
            }
            .btn:hover{
                background-color: black;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <a href="/userdetails"><li>Userdetails</li></a>
                <a href="/creditcarddetails"><li>Creditcard details</li></a>
                <a href="/adminproduct"><li>Products</li></a>
                <a href="/cartproduct"><li>Cartproduct</li></a>
            </ul>
        </nav>
        <h1 style="text-align: center; color:rgb(255, 0, 85);">Product Details</h1>
        <table>
            <tr>
                <th>Product name</th>
                <th>Image</th>
                <th>Product detail</th>
                <th>Cetegory name</th>
                <th>Price</th>
                <th>Ranking</th>
                <th>Current status</th>
            </tr>
            <%user.forEach((i)=>{ %>
            <tr>
                <td><%=i.product_name%></td>
                <td><img src="/static/<%=i.image%>" height="170" width="170"></td>
                <td><%=i.product_details.substring(0,10)%>...</td>
                <td><%=i.cetegory_name%></td>
                <td><%=i.price%></td>
                <td><%=i.ranking%></td>
                <td><%=i.current_status%></td>
                <td>
                    <a href="/admin_add_productdetail"><button class="btn">Add</button></a>
                    <a href="/delete_admin_product/<%=i.sl_no%>"><button class="btn">Delete</button></a>
                    <a href="/editadminproduct/<%=i.sl_no%>"><button class="btn">Edit</button></a>
                </td>
            </tr>
            <% });%>
        </table>
    </body>
</html>
