<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <title><%= title%></title>
        <script src="/javascript/index.js"></script>
        <style>
            *{box-sizing: border-box}
                body {font-family: Verdana, sans-serif; margin:0}
                .mySlides {display: none;
            }
            /* Slideshow container */
            .slideshow-container {
                position: relative;
                margin: auto;
            }
            /* Next & previous buttons */
            .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 45%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
            }
            /* Position the "next button" to the right */
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }
            /* On hover, add a black background color with a little bit see-through */
            .prev:hover, .next:hover {
                background-color: rgba(0,0,0,0.8);
            }  
            .cls{
                font-family: fantasy;
                font-size: 20px;
            }
            a{
               font-size: 20px;
            }
            .sidenav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                right: 0;
                background-color: teal;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
                margin-top: 79px;
                }   
            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #332523;
                display: block;
                transition: 0.3s;
                }
            .sidenav a:hover {
                color: #13c5ad;
                }
            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }
            @media screen and (max-height: 380px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
            }
            .card{
                cursor: pointer;
            }
            button{
                background-color: rgb(85, 71, 82);
                color:white;
                border-radius: 8px;
                border: 2px solid black;
            }
            button:hover{
                background-color: blue;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg cls navbar-dark bg-dark">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-shop-window m-2 text-primary" viewBox="0 0 16 16">
                <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <a class="navbar-brand" href="/"><span style="color:gainsboro; font-size: 35px;"><i><span style="color:blue;">S</span><span style="color: mediumvioletred;">H</span><span style="color:teal;">O</span><span style="color: slateblue;">P</span><span style="color:red">.</span>com</i></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Login</a>
                </li>  
                <li class="nav-item">
                  <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cetegory">Cetegory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">Service</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/topbrands">Top brand's</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Cart</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
        </nav>
        <div class="slideshow-container">
            <div class="mySlides">
              <img src="/static/111.jpg" style="width:100%;vertical-align: middle;height:430px">
            </div>
            <div class="mySlides">
              <img src="/static/112.jpg" style="width:100%;vertical-align: middle;height:430px">
            </div>
            <div class="mySlides">
              <img src="/static/113.jpg" style="width:100%;vertical-align: middle;height:430px">
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <div class="container-fluid">
            <img src="static/bank_a.jpg" height="100" style="width: 100%; margin: 50px 0px;">
        </div>
        <div class="container-fluid" id="change">
            <div class="row">
                <%user.forEach((i)=>{ %>
                    <div class="card mx-3" style="width: 17rem;" onclick="buynow()">
                        <img src="static/<%= i.image%>" class="card-img-top" alt="..." height="360">
                        <div class="card-body">
                          <b style="font-size: 25px;"><%= i.cetegory_name.toUpperCase()%></b>
                          <p><del>Rs :<%= i.price%></del></p>
                          <p><b>10% discount offer ..</b></p>
                          <h5>Rs :<%= i.price-(i.price*10/100).toFixed(0)%>/-  Hurry Up!</h5>  
                          <a href="/payment"><button>buy now</button></a>
                        </div>
                    </div>
                <% });%>
            </div>
        </div>
        <script>
            function openNav(){
                document.getElementById('sidenav').style.width='20%';
            }
            function closenav(){
                document.getElementById('sidenav').style.width='0px';
            }
            var slideIndex = 1;
            showSlides(slideIndex);
            function plusSlides(n) {
                showSlides(slideIndex = slideIndex + n);
            }
            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                if (n > slides.length) {slideIndex = 1}    
                if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display ='none';  
                }
                slides[slideIndex-1].style.display = "block";  
            }
        </script>
        <footer>
            <p class="text-white bg-dark text-center p-3">Copyright &copy; |Electrical and Electronics goods</p>
        </footer>
        <!-- Optional JavaScript; choose one of the two! -->
        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        -->
    </body>
</html>
